
@{
    ViewBag.Title = "RolInvalido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Usted no tiene autorizacion para realizar esa función.</h2>
    </hgroup>
</body>

